@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth@62.5;100&display=swap');

  body {
  height: 200vh;
  width: 100%;
  font-family: 'Noto Sans Georgian', sans-serif;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(138, 43, 226, 0.2);
  border-radius: 10px;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-mid,
.hamburger-btm {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-mid {
  transform: translateY(7px);
}

.hamburger-btm {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-mid {
  display: none;
}

.open .hamburger-btm {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.active {
  color: #8a2be2;
}

.footer-widget::before{
  content: '';
  background:#8000a3;
  display: block;
  height: 3px;
  width: 35px;
  transform:translateY(38px);  
  z-index: -1;
}
.footer-widget::after{
  content: '';
  background:#FFFFFF;
  display: block;
  height: 3px;
  width: 35px; 
  z-index: 1;
  opacity: .2;
  position: absolute;
  transform: translate(35px, 7px);
}

.li-widgets::before{
  content:'';
  background: #8000a3;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  transform:translate(-20px, 8px)
}