<footer class="bg-titleColor text-white w-full mx-auto">
    <!-- Upper Footer -->
    <div class="py-24 px-4 md:px-12">
      <div
        class="mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl"
      >
        <div
          class="min-h-fit w-full flex flex-col gap-y-12 xl:flex-row xl:gap-0 justify-normal"
        >
          <div class="w-full h-full space-y-4">
            <div class="h-68 w-84 flex items-center justify-start">
              <a href="#">
                <img src="assets/zoomitwhite.png" class="w-full h-full" />
              </a>
            </div>
            <div>
              <ul class="flex justify-start items-center gap-x-2">
                <li>
                  <p>გამოგვყევი აქ:</p>
                </li>
                <li
                  class="h-8 w-8 mr-2.5 bg-white rounded-full flex justify-center items-center"
                >
                  <a href="#"
                    ><i
                      class="h-full w-full fa-brands fa-facebook"
                      style="color: #8000a3"
                    ></i
                  ></a>
                </li>
                <li
                  class="h-8 w-8 bg-white rounded-full flex justify-center items-center"
                >
                  <a href="#"
                    ><i
                      class="fa-brands fa-instagram"
                      style="color: #8000a3"
                    ></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pl-12 mb-8 w-full h-full">
            <p class="text-lg lg:text-xl font-bold footer-widget pb-2.5 mb-8">
              ჩვენს შესახებ
            </p>
            <ul>
              <li class="li-widgets pl-6 mb-4">
                <a href="#">ჩვენს შესახებ</a>
              </li>
              <li class="li-widgets pl-6 mb-4">
                <a href="#">კითხვები და პასუხები</a>
              </li>
            </ul>
          </div>
          <div class="w-full h-full pl-12 mb-8">
            <p class="text-lg lg:text-xl font-bold footer-widget pb-2.5 mb-8">
              რესურსები
            </p>
            <ul>
              <li class="li-widgets pl-6 mb-4"><a href="#">მთავარი</a></li>
              <li class="li-widgets pl-6 mb-4"><a href="#">კატეგორია</a></li>
              <li class="li-widgets pl-6 mb-4">
                <a href="#">წესები და პირობები</a>
              </li>
              <li class="li-widgets pl-6 mb-4">
                <a href="#">კონფიდენციალურობა</a>
              </li>
            </ul>
          </div>
          <div class="w-full h-full pl-12 mb-8">
            <p class="text-lg lg:text-xl font-bold footer-widget pb-2.5 mb-8">
              საიტის ინფორმაცია
            </p>
            <ul>
              <li class="pl-9 mb-4 flex items-start justify-normal">
                <div class="mr-2.5">
                  <i class="fa-solid fa-envelope fa-lg"></i>
                </div>
                <div>
                  <p class="mb-1.5 font-bold">მეილი:</p>
                  <a href="#">
                    <p>info@zoomit.ge</p>
                  </a>
                </div>
              </li>
              <li class="pl-9 mb-4 flex">
                <div class="mr-2.5">
                  <i class="fa-solid fa-phone fa-lg"></i>
                </div>
                <div>
                  <p class="mb-1.5 font-bold">ტელეფონის ნომერი:</p>
                  <a href="#">
                    <p>599336690</p>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Lower Footer -->
    <div
      class="h-auto w-full py-4 border-t border-t-borderColor flex justify-center items-center"
    >
      <p
        class="text-center px-12 text-lg font-medium mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl"
      >
        &copy; 2023 copied with <i class="fa fa-heart"></i> by Zura from
        <a href="https://zoomit.ge/" class="font-bold">zoomit.ge</a>
      </p>
    </div>
  </footer>