<div class="mt-20 mx-9">
    <div
      class="grid justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 px-auto gap-6"
    >
      <div class="w-full h-16 flex justify-center relative items-center">
        <div id="animTxt" class="absolute left-4 duration-200 bg-bodyColor text-xl ease-in-out text-[#636264]">
          <p></p>
        </div>
        <select
          required
          id="selectTag"
          class="duration-300 z-20 w-full h-full appearance-none border-gray-500 rounded border-solid outline-none border text-xl px-4 text-gray-500 bg-transparent"
        >
          <option value="0" disabled selected hidden id="inputPlaceholder">
            მომსახურების ტიპი
          </option>
          <option value="school">სკოლა</option>
          <option value="proffesions">პროფესიები</option>
        </select>
      </div>
      <div class="w-full h-16">
        <div class="w-full h-full flex justify-center items-center relative">
          <div id="animTxt" class="absolute left-4 duration-200 bg-bodyColor text-xl ease-in-out text-[#636264]">
            <p>აირჩიე კატეგორია</p>
          </div>
          <select
          id="selectTag"
          class="duration-300 z-20 w-full h-full appearance-none border-gray-500 rounded border-solid outline-none border text-xl px-4 text-gray-500 bg-transparent"
        >
            <option value="0" disabled selected hidden id="inputPlaceholder">
            </option>
            <optgroup label="V-XII კლასი" value="fiveToTwelveClass">
              <option value="">მათემატიკა</option>
              <option value="">ფიზიკა</option>
              <option value="">ისტორია</option>
              <option value="">ქიმია</option>
              <option value="">ინგლისური</option>
              <option value="">გეოგრაფია</option>
              <option value="">მოქალაქეობა</option>
              <option value="">ქართული</option>
              <option value="">გერმანული</option>
              <option value="">ესპანური</option>
              <option value="">რუსული</option>
              <option value="">ინფორმატიკა</option>
              <option value="">ბიოლოგია</option>
              <option value="">მუსიკა</option>
              <option value="">ხელოვნება</option>
            </optgroup>
              <option value="">დაწყებითი</option>
            <optgroup label="I-IV კლასი" value="oneToFourClass"></optgroup>
          </select>
        </div>
      </div>
      <div class="w-full h-16">
        <div class="w-full h-16 flex justify-center items-center">
          <select
            class="w-full h-full appearance-none border-gray-500 rounded border-solid outline-none border text-xl px-2 text-gray-500 bg-transparent"
          >
            <option value="0" disabled selected hidden>რეიტინგი</option>
            <option value="rateing">რეიტინგი</option>
            <option value="quantity">რაოდენობა</option>
          </select>
        </div>
      </div>
      <div class="w-full h-16 grid grid-cols-2 gap-4">
        <div class="w-half h-16">
          <div class="w-full h-16 flex justify-center items-center">
            <input
              type="number"
              class="w-full h-full border-gray-500 rounded border-solid outline-none border text-lg px-4 placeholder:text-gray-500 text-gray-500 bg-transparent"
              placeholder="5₾-დან"
            />
          </div>
        </div>
        <div class="w-half h-16">
          <div class="w-full h-16 flex justify-center items-center">
            <input
              type="number"
              class="w-full h-full border-gray-500 rounded border-solid outline-none border text-lg px-4 placeholder:text-gray-500 text-gray-500 bg-transparent"
              placeholder="500₾-მდე"
            />
          </div>
        </div>
      </div>
      <div class="w-full h-16">
        <div class="w-full h-16 flex justify-center items-center">
          <input
            type="date"
            placeholder="22/10/2023 - 29/10/2023"
            class="outline-none w-full h-full border-gray-500 rounded border-solid border bg-transparent text-xl px-4 text-gray-500"
          />
        </div>
      </div>
      <div class="w-full h-16">
        <div class="w-full h-full flex justify-center items-start">
          <button
            class="button-transition relative z-20 w-full h-14 overflow-hidden bg-buttonColor border-buttonColor border-solid border duration-900 hover:duration-900 hover:transition-all text-white font-medium"
          >
            ძებნა
          </button>
        </div>
      </div>
    </div>
  </div>