<!--Messenger Icon-->
<div
  class="rounded-full z-50 w-11 h-11 bg-messengerIconColor flex justify-center items-center drop-shadow-md fixed bottom-6 right-5"
>
  <i class="fa-brands fa-facebook-messenger fa-xl" style="color: #ffffff"></i>
</div>
<!-- Navbar -->
<header
  class="relative container mx-auto py-3 px-6 lg:py-3 bg-white lg:bg-transparent w-full"
>
  <nav class="flex items-center justify-between w-full z-50">
    <!-- Image and Input -->
    <div class="flex justify-between items-center space-x-12">
      <a href="">
        <img src="/assets/logo.png" class="w-18 h-16" />
      </a>
      <input
        type="text"
        placeholder="ძებნა..."
        class="pl-5 hidden xl:w-64 h-14 p-3 outline-none lg:block lg:w-40"
      />
    </div>

    <!-- Search -->
    <!-- Search Button -->
    <div
      id="searchMenuButton"
      class="flex space-x-6 items-center w-11 h-11 lg:hidden cursor-pointer"
    >
      <span
        class="text-4xl text-justify w-full h-full material-symbols-outlined"
      >
        search
      </span>
    </div>

    <!-- Search Menu -->
    <div
      id="searchMenu"
      class="origin-top -z-10 -translate-y-52 duration-500 absolute outline-none w-full h-16 flex flex-col items-center self-end py-8 text-center space-y-6 font-normal right-0 bg-white sm:w-full mx-auto top-20"
    >
      <div
        class="flex justify-start items-center w-full h-1/2 px-12 outline-none"
      >
        <input
          type="text"
          placeholder="ძებნა..."
          id="input-itself"
          class="pl-2 h-8 border p-3 outline-none block w-1/2 rounded-xl ease-in-out focus:ease-in-out focus:transition-all focus:duration-500 focus:bg-white focus:outline-none focus:border-inputColor transition-all duration-500"
        />
      </div>
    </div>

    <!-- Pages and Menu -->

    <div class="hidden items-center justify-between space-x-8 lg:flex">
      <div class="hidden space-x-6 lg:flex text-titleColor">
        <a
          href="#"
          class="py-5 page-link duration-500 active hover:text-activeColor"
          >მთავარი</a
        >
        <a
          href="#"
          class="page-link py-5 text-black duration-500 hover:text-buttonColor"
          >კატეგორიები</a
        >
        <div id="pagesButton" class="py-5">
          <a
            href="#"
            class="flex items-center page-link duration-500"
            id="hoverBtn"
            >გვერდები
            <span class="material-symbols-outlined">
              keyboard_arrow_down
            </span></a
          >
          <div
            id="pagesMenu"
            class="origin-top z-50 scale-y-0 duration-500 px-[5px] py-[2px] transition-all gap-0 absolute w-64 h-auto bg-white text-sm ease-in-out font-semibold top-[76px] right-72 flex flex-col items-start justify-center text-titleColor drop-shadow-md"
          >
            <div
              class="border-b px-5 pt-3 pb-[9px] text-titleColor opacity-80 duration-500 hover:opacity-100 border-gray-200 w-full hover:text-activeColor"
            >
              <a href="#">ჩვენს შესახებ</a>
            </div>
            <div
              class="border-b px-5 pt-3 pb-[9px] text-titleColor opacity-80 duration-500 hover:opacity-100 border-gray-200 w-full hover:text-activeColor"
            >
              <a href="#">კითხვები & პასუხები</a>
            </div>
            <div
              class="border-b px-5 pt-3 pb-[9px] text-titleColor opacity-80 duration-500 hover:opacity-100 border-gray-200 w-full hover:text-activeColor"
            >
              <a href="#">წესები და პირობები</a>
            </div>
            <div
              class="w-full px-5 pt-3 pb-[9px] text-titleColor opacity-80 duration-500 hover:opacity-100 hover:text-activeColor"
            >
              <a href="#">კონფიდენციალურობა</a>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden justify-between space-x-6 lg:flex">
        <a
          href="#"
          class="button-transition relative z-10 overflow-hidden xl:px-[35px] xl:py-[15px] px-[22px] py-[10px] text-lg bg-buttonColor duration-250 hover:duration-250 hover:transition-all text-white"
          >რეგისტრაცია</a
        >
        <a
          href="#"
          class="button-transition relative z-10 overflow-hidden xl:px-[35px] xl:py-[15px] px-[22px] py-[10px] text-lg bg-buttonColor duration-250 hover:duration-250 hover:transition-all text-white"
          >შესვლა</a
        >
      </div>
    </div>

    <!--Burger Menu-->
    <div class="flex space-x-6 lg:hidden justify-self-end">
      <button
        class="flex flex-col hamburger lg:hidden focus:outline-none"
        id="burgerMenuButton"
      >
        <span class="hamburger-top"></span>
        <span class="hamburger-mid"></span>
        <span class="hamburger-btm"></span>
      </button>
      <!--Menu-->

      <div
        id="burgerMenu"
        class="origin-top z-50 scale-0 duration-300 absolute h-95 flex flex-col items-center self-end py-8 mt-10 text-center space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 top-16 drop-shadow-md"
      >
        <a
          href="#"
          class="page-link active border-b-2 border-violet-700 hover:text-activeColor hover:duration-250 duration-250 border-solid"
          >მთავარი</a
        >
        <a
          href="#"
          class="page-link border-b-2 border-violet-700 hover:text-activeColor hover:duration-250 duration-250 border-solid"
          >კატეგორიები</a
        >
        <a
          href="#"
          class="page-link border-b-2 border-violet-700 hover:text-activeColor hover:duration-250 duration-250 border-solid"
          >გვერდები</a
        >
        <div
          class="flex justify-between items-center gap-6 sm:gap-64 text-center sm:flex-row flex-col"
        >
          <a
            href="#"
            class="button-transition relative z-10 overflow-hidden px-7 py-4 text-lg bg-buttonColor border-buttonColor border-solid border duration-250 hover:duration-250 hover:transition-all text-white"
            >რეგისტრაცია</a
          >
          <a
            href="#"
            class="button-transition relative z-10 overflow-hidden px-7 py-4 text-lg bg-buttonColor border-buttonColor border-solid border duration-250 hover:duration-250 hover:transition-all text-white"
            >შესვლა</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
